.navbar {
    display: flex;
    justify-content: space-between;
}


.nav-link {
    padding: 10px;
    background-color: #333;
    flex: 1;
    text-decoration: none;
    text-align: center;
    color: white;
  }